h1{
    color:blue;
}
.container{
    display: flex;
    background-color: turquoise;
    flex-direction: row;
    flex-wrap: wrap;
}
.container div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}
.container_grid{
    display: grid;
    background-color:#02ffdd;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    
    
}
.container_grid div{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
/* .item1{
    grid-column-start: 1;
    grid-column-end: 5;
} */