:root{
    font-family: 'Gill Sans';
}

.container{
    width: 80%;
    margin: 0px 0px 15px; 
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: black;
    border: 5px solid black;
    border-radius: 15px;
}

.container div{
    margin: 10px;

    border-radius: 15px;
}

.footerUp{
    grid-column: span 2;
}

.side3Up{
    
    grid-row: span 2;
}

.side2Down{
    grid-row: span 2;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}